<!DOCTYPE html>
<html class="bg-whitegreen">
  <head>
    <title>Le Festin Boulangerie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('le-festin.jpg') %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <body>
      <div class="h-28">
      <%= render "shared/navbar" %>
      </div>
      <% flash.each do |type, msg| %>
        <div class="w-full text-white text-center font-thin <%= "bg-darkergreen" if type === 'notice' %> <%= "bg-darkergreen" if type === 'notice' %>">
          <%= msg %>
        </div>
      <% end %>
      <main class="pb-10">
        <%= yield %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.turbo.min.js"></script>
      </main>
    </body>
  </html>